body {
    background-color: rgb(249, 252, 216);
    color: rgb(169, 10, 10);
    font-size: 18px;
    font-family: cursive, sans-serif;
    height: 700px;
}
header {
    font-weight: 600;
    height: 250px;
}

h1 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin: auto;
    padding: 5px;
}
h3 {
    margin: auto;
    padding: 5px;
    text-align: center;
    text-decoration-line: underline;
}
.popUp {
    background-color: rgb(247, 224, 122);
    border: 2px black solid;
    display: none;
    height: auto;
    margin: auto;
    padding: 0 0 0 25px;
    position: relative;
    width: 700px;
}
#popUpTitle {
    font-size: 22px;
    font: bold;
}
.close {
    background-color: rgb(169, 10, 10);
    border: 2px black solid;
    color: white;
    float: right;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 600;
    height: 30px;
    width: 30px;
    text-align: center;
}
.level {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0 10px;
}
select {
    border: 1px black solid;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    width: 40px;
}
.dropdownButton {
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 5px 15px;
    margin: 0 20px;
}
.counter {
    margin: 40px;
    padding: 2px;
    text-align: center;
    width: 100px;
}
.moves-label {
    font-weight: 800;
}
.time-label {
    font-weight: 800;
}
#moves-counter {
    background-color: rgb(244, 245, 239);
    border: 2px black solid;
    margin: 0 0 50px;
}
#time-counter {
    background-color: rgb(244, 245, 239);
    border: 2px black solid;
}
.towerContainer {
    display: none;
    justify-content: space-between;
    margin: auto;
}
.tower { 
    background-color: black;
    border-radius: 20px;
    color: black;
    display: flex;
    flex-direction: column-reverse;
    height: 30px;
    list-style: none;
    margin: 380px 0 0;
    width: 300px;
    transform: translateY(-50%);
    text-align: center;
}
.tower:hover {
    background-color: gray;
    color: gray;
}
.disk {
    border-radius: 20px;
    display: block;
    flex-direction: column-reverse;
    height: 50px;
    margin: 1px auto;
    width: 225px;
}
.disk1 {
    background-color: rgb(223, 44, 44);
    color: rgb(223, 44, 44);
    width: 250px;
    
}
.disk2 {
    color: rgb(218, 120, 35);
    width: 225px;
    background-color: rgb(218, 120, 35);
}
.disk3 {
    color: rgb(223, 223, 41);
    width: 200px;
    background-color: rgb(223, 223, 41);
}
.disk4 {
    color: rgb(102, 216, 44);
    width: 175px;
    background-color: rgb(102, 216, 44);
}
.disk5 {
    color: rgb(43, 223, 226);
    width: 150px;
    background-color: rgb(43, 223, 226);
}
.disk6 {
    color: rgb(58, 119, 224);
    width: 125px;
    background-color: rgb(58, 119, 224);
}
.disk7 {
    color: rgb(58, 119, 224);
    width: 100px;
    background-color: rgb(58, 119, 224);
}
.disk8 {
    color: rgb(218, 53, 166);
    width: 75px;
    background-color: rgb(218, 53, 166);
}
.space {
    display: flex;
    width: 100px;
}
.message {
    display: none;
    font-family: sans-serif;
    margin: auto;
    text-align: center;
}
#wonMessage {
    color: rgb(0, 128, 0);
    font-size: 100px;
    padding: 50px;
}
#restartMessage {
    color: rgb(0, 128, 0);
    font-weight: 400;
}
.error {
    display: none;
    font-family: sans-serif;
    font-weight: 400;
    margin: auto;
    text-align: center;
}
#bold {
    color: rgb(169, 10, 10);
    font-weight: 800;
}
button {
    background-color: rgb(165, 127, 127);
    border-radius: 20px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 5px 15px;
    margin: 40px auto;
}
button:hover {
    background-color: rgb(169, 10, 10);
}
